@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #282c34;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorpick-eyedropper-input-trigger {
    display: none;
}